
html {
  text-align : center;
  font-size : 30px;
  margin : 0;
  font-family : 'Roboto', sans-serif;
}

body {
  margin : 0 auto;
  width : 100%;
  max-width : 20em;
}

/* http://stackoverflow.com/questions/1495407/css-maintain-div-aspect-ratio */
table {
  width : 100%;
  padding-bottom : 100%;
  position : relative;
}
tbody {
  position : absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
}

table {
  display : block;
}

tbody {
  display : flex;
  flex-flow: column nowrap;

  margin : 5px;
}

tr {
  flex : 1 1 1px;

  display : flex;
  flex-flow: row nowrap;
}

td {
  display : block;
  flex : 1 1 1px;
}

tr + tr {
  border-top : 5px inset black;
}

td + td {
  border-left : 5px inset black;
}

.playable {
  outline : 1px dotted red;
}
